# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template
# mypy
.mypy_cache/
# IntelliJ project files
.idea/
*.iml
out
gen
.tox/
.venv
*.lock
*.egg-info
*pyc
